#LogicalForm
  .form-group
    = f.radio_button :is_right, true
    #{I18n.t 'interface.question.answer_yes'}
  .form-group
    = f.radio_button :is_right, false
    #{I18n.t 'interface.question.answer_no'}
