<p class="type_header">Лоігчне</p>
<%# debugger %>
<table style="margin-bottom: 20px; position: relative; left: 40px;">
  <% if @answer %> <!-- If it is edit mode -->
    <tr><td><input type="radio" name="answer1" <%= 'checked=checked' unless @answer.is_right? %> value="false">ні</td></tr>
    <tr><td><input type="radio" name="answer1" <%= 'checked=checked' if @answer.is_right? %> value="true">так</td></tr>
  <% else %> <!-- If it is create mode -->
      <tr><td><%= radio_button_tag :answer1, false %>ні</td></tr>
      <tr><td><%= radio_button_tag :answer1, true %>так</td></tr>
  <% end %>
</table>