<p class="type_header">Відповідність</p>
<table>
  <tr style="vertical-align: top;">
    <td id = "compl">
      <input type="button" value="-" onClick="delPrev('answer_left_');" style="width: 25px;" />
      <input type="button" value="+" onClick="addNext('compl','answer_left_');" style="width: 25px;" />
      <input type="text" name="answer_left_0" id="answer_left_0" value="" size="25" style="width: 170px;" />
    </td>

    <td id = "compr" class="right">
      <input type="button" value="-" onClick="delPrev('answer_right_');" style="width: 25px;" />
      <input type="button" value="+" onClick="addNext('compr','answer_right_');" style="width: 25px;" />
      <input type="text" name="answer_right_0" id="answer_right_0" value="" size="25" style="width: 170px;" />
    </td>
  </tr>
</table>