<div class="admin_bkg" >
  <div>_</div> <!-- without it something goes wrong -->
<h2 class="center">Редагування системи оцінювання:</h2>

<%= render 'form' %>

<% if flash[:notice] || flash[:error] %>
    <div id="error">
      <%= flash[:error] || flash[:notice] %>
    </div>
<% end %>
</div>