.panel.panel-warning.different
  .panel-heading
    %h3 Edit mark system
  .panel-body
    = render partial: 'form'
  .panel-footer.right
    = link_to 'All toasts', toasts_path, class: 'btn btn-warning'
