<div id="last_results">
  <table style = "font-size: 14px; text-align: center; left: -10px;">
    <col width="100">
    <col width="150">
    <col width="50">
    <col width="150">
    <col width="60">
    <!--<?php-->
    <!--show_l_results();-->
    <!--?>-->
  </table>
</div>