<div class = "admin_bkg">
<div>_</div> <!-- without it something goes wrong -->
<div class = "window_sign_in">

  <p id="sign_header">Новий предмет</p>
  <%= render 'form' %>

</div>
<div id="error">
  <%= flash[:alert] %>
</div>
</div>