<h2 style="text-align: center">Групи</h2>
<div class="page_content">
  <table>
    <colgroup>
      <col width="10px"/>
      <col width="180px"/>
      <col width="40px"/>
      <col width="40px"/>
    </colgroup>
    <tr>
      <th>№</th><th>Group name</th><th>Users</th><th>Chase</th>
    </tr>
    <% if @groups %>
        <% for i in 0..@groups.count-1 %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= @groups[i].name %></td>
              <td><%= @groups[i].users_count %></td>
              <td><%= check_box_tag "groups_check[]", @groups[i].id.to_s %></td>
            </tr>
        <% end %>
    <% end %>
  </table>
</div>