<h2 style="text-align: center">Новий користувач:</h2>
<div class="page_content">
  <!--<%#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>-->
      <!--<table>-->
        <!--<colgroup>-->
          <!--<col width="100px"/>-->
          <!--<col width="100px"/>-->
        <!--</colgroup>-->
        <!--<tr>-->
          <!--<td>Логін</td>-->
          <!--<td><%#= f.text_field :class => "form_fields" %></td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td>Пароль</td>-->
          <!--<td><%#= f.password_field :class => "form_fields" %></td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td>-->
            <!--<%#= f.submit "Реєструвати", :name => 'add_user', :class => 'admin_buttons_small', :value => true %>-->
          <!--</td>-->
          <!--<td></td>-->
        <!--</tr>-->
      <!--</table>-->
  <!--<%# end %>-->
  <%= render new_user_registration_path %>
</div>