<div id="book">

  <form action= "<?php echo $_SERVER['PHP_SELF']; echo $lid; ?>" method="POST"> <!-- book(journal) -->

    <!-- left page -->
    <div id="leftpage">
      <!--<?php-->
			    <!--showleftpage($aboutl, $l);-->
			<!--?>-->
    </div>

    <!-- right page -->
    <div id="rightpage">
      <!--<?php-->
				<!--showrightpage($aboutr, $r);-->
			<!--?>-->
    </div>


  </form>
</div> <!-- end of book -->

<p id="bookmark1"><a href="./reg/group_new.php">Додати групу</a></p>		            <!-- bookmark1 -->
<p id="bookmark2"><a href="./reg/user_new.php">Додати корист.</a></p>	                <!-- bookmark2 -->
<p id="bookmark3"><a href="<?php echo $_SERVER['PHP_SELF']; ?>">Форзац</a></p>		    <!-- bookmark3 -->

<p class="mend"><a href="./index.php">На головну</a></p>
<!--<?php-->
    <!--if ($error_string != "")-->
        <!--myerror($error_string);-->
    <!--?>-->
<p id="bottom"></p>