#AssociativeForm{class: @question.associative? ? '' : 'hidden', data: {count: @question.associations.count} }
  .col-lg-12
    .form-group.center
      %button.btn.btn-square.btn-xl.btn-info.add-associative{ onclick: 'return false' }
        %i.fa.fa-plus
      %button.btn.btn-square.btn-xl.btn-info.del-associative{ onclick: 'return false' }
        %i.fa.fa-minus
  .answers{data: {count: @question.associations.count}}
    = f.fields_for :associations, @question.new_record? ? @question.associations.new : nil do |builder|
      = render 'associative/form', f: builder
