// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#admin_bkg{ background-color: #ded0c3; }
#head_panel{ width: 100%; }
#tbl_head_left{ text-align: left; }
#tbl_head_right{ text-align: right; }
#admin_big_header
{
    margin-top: 3%;
    font-family: 'Comic Sans MS';
    font-size: 2em;
    text-align: center;
}

#admin_content
{
  font-family: 'Times New Roman', sans-serif;
  font-size: 1.2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  width: 900px;
  text-align: top;
}
//
.admin_small_header
{
  font-size: 28px;
  text-align: center;
  font-family: 'URW Chancery L';
  margin-bottom: 5%;
}
.small_link{
  font-size: 0.6em;
}

#admin_footer
{
  background : url('admin_footer.jpg') repeat-x;
  height : 100px;
  margin-top: 15%;
  width: 100%;
  right: 0;
}

#search_form
{
  border-spacing: 5px;
  margin-bottom: 20px;
}

.admin_fields
{
  width: 170px;
  height: 20px;
  background-color: #fcf6f6;
  border-style: solid;
  padding-left: 5px;
  border-color: grey;
}
//
.admin_buttons
{
  margin-top: 10px;
  background-color: #bf8e62;
  border-style: none;
  height: 30px;
  width: 80px;
  text-align: center;
}
//
.admin_selects
{
  height: 25px;
  width: 180px;
}

#find
{
  height: 100px;
  width: 370px;
  margin-top: 25px;
  border: 1px solid gray;
  overflow-y: scroll;
  font-size: 0.7em;
}