// Place all the styles related to the journal controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.journal_content
{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
}

.journal
{
  background: url('journal.gif') no-repeat;
  height: 550px;
  margin-top: 50px;
}

#journal table { font-size: 12px; }

#pages{
  padding-top: 25px;
  padding-left: 50px;
}

.page_content{
  height: 350px;
  overflow-y: auto;
}

.search_line{ width: 200px; }

.admin_buttons_small{
  margin-top: 0px;
  background-color: #bf8e62;
  border-style: none;
  height: 20px;
  width: 86px;
  text-align: center;
  margin-right: 5px;
}

.admin_links_small{
  margin-top: 0px;
  background-color: #bf8e62;
  border-style: none;
  height: 20px;
  width: 86px;
  text-align: center;
  margin-right: 5px;
}

.btn_search{
  display: inline;
  width: 67px;
}

.form_fields{
  width: 150px;
}

#bookmark1
{
  width: 65px;
  position: relative;
  left: 725px;
  top: -445px;
}

#bookmark2
{
  width: 65px;
  position: relative;
  left: 725px;
  top: -405px;
}

#bookmark3
{
  width: 65px;
  position: relative;
  left: 725px;
  top: -365px;
}