body
  margin: 0

a
  color: black
  hover
    color: #bf8e62
  visited
    color: black

.center
  text-align: center

.right
  text-align: right

.inline
  display: inline

.red
  color: red

.small-text
  font-size: 0.8em

.form-signin
  max-width: 330px
  margin: auto
  margin-top: 20%

.admin-bkg
  background-color: #ff982d
.user-bkg
  background-color: #96e8fe

.mark-operations
  text-align: center

a:hover
  color: red

// bootstrap

.container
  margin-top: 20px

.dropdown-toggle
  &:hover
    cursor: pointer

.btn.btn-warning.key-gen
  width: 100%

.form-control
  margin: 10px 0

.btn-circle.btn-xl
  width: 70px
  height: 70px
  padding: 10px 16px
  font-size: 24px
  line-height: 1.33
  border-radius: 35px


td.actions
  a
    margin-right: 10px
    &:hover
      text-decoration: none
    i
      width: 15px

.panel.main
  .panel-body
    height: 500px

.panel
  h3
    margin-top: 5px
    margin-bottom: 5px