body
  margin: 0

a
  color: black
  hover
    color: #bf8e62
  visited
    color: black

.center
  text-align: center

.right
  text-align: right

.inline
  display: inline

.red
  color: red

.small-text
  font-size: 0.8em

.form-signin
  max-width: 330px
  margin: auto
  margin-top: 20%

.orange-bkg
  background-color: #ff982d
.blue-bkg
  background-color: #96e8fe

.mark-operations
  text-align: center

a:hover
  color: red

a.tag-link
  color: white
