.window_sign_in
{
  background : url('new_session.png') no-repeat;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  width: 300px;
  height: 300px;
  font-family: sans-serif;
}

#sign_header
{
  position: relative;
  top: 20px;
  text-align: center;
  font-size: 1.4em;
}

#sign_form
{
  position: relative;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

#sign_button
{
  width: auto;
  height: 30px;
  font-size: 1.1em;
  background-color: #bf8e62;
  border-style: none;
}

#sign_in_button
{
  width: 75px;
  height: 30px;
  font-size: 1.1em;
  background-color: #bf8e62;
  border-style: none;
}

.fields
{
  width: 165px;
  height: 25px;
  background-color: #ffd7b3;
  border-style: none;
  padding-left: 5px;
}