// Kris
#question_body
{
  background-color: #ded0c3;
  overflow:  hidden;
}

#question_content
{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#question_text
{
  width: 850px;
  height: 80px;
}

#question_form td
{
  vertical-align: top;
}

.type_header
{
  font-size: 28px;
  text-align: center;
  font-family: 'URW Chancery L';
}

#question_header
{
  font-family: 'Comic Sans MS';
  font-size: 2em;
  text-align: left;
}

#exit
{
  position: fixed;
  bottom: 170px;
  left: 10px;
}

#link_out
{
  z-index: 99;
  position: fixed;
  right: 30px;
  bottom: 155px;
}

#user
{
  position: absolute;
  top: 0px;
  left: 20px;
}

.question_button
{
  margin-top: 10px;
  background-color: #bf8e62;
  border-style: none;
  height: 30px;
}

#compl
{
  width: 200px;
}

#compr
{
  width: 200px;
}